.dropdown-active .ts-control {
    @apply rounded-lg;
}

.ts {
    &-wrapper {
        &.single {
            .ts {
                &-control {
                    @apply bg-base-100 text-base-content shadow-none dark:border-white dark:border-opacity-20 #{!important};
                    border: 1px solid #d0d0d0;

                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
                    background-position: right 0.5rem center;
                    background-repeat: no-repeat;
                    background-size: 1.5em;
                }

                &-dropdown {
                    @apply border-none bg-base-100 text-base-content;
                }

                &-dropdown-content {
                    [data-selectable].option {
                        &.active {
                            @apply bg-base-200 text-base-content;
                        }

                        &:first-child {
                            @apply rounded-t-lg;
                        }

                        &:last-child {
                            @apply rounded-b-lg;
                        }
                    }
                }
            }
        }

        &.multi .ts-control [data-value] {
            @apply rounded-full border-none bg-primary pl-3 pr-1 #{!important};
            background-image: none !important;
        }

        &.plugin-remove_button {
            &:not(.rtl) .item .remove {
                @apply border-l-0;
            }

            .item .remove:hover {
                @apply bg-transparent;
            }
        }
    }

    &-control {
        @apply rounded-lg bg-base-100 py-2 pl-3 pr-6 text-base dark:border-white dark:border-opacity-20;

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
        background-position: right 0.5rem center;
        background-repeat: no-repeat;
        background-size: 1.5em;

        input {
            @apply text-base-content;
        }
    }

    &-dropdown {
        @apply rounded-md border-none bg-base-100 text-base text-base-content;

        &[data-selectable].option {
            &:first-child {
                @apply rounded-t-lg;
            }

            &:last-child {
                @apply rounded-b-lg;
            }
        }

        .active {
            @apply bg-base-200 text-base-content;
        }
    }
}
