{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.homepage.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block main_body %}
    <section class="flex grow items-center justify-center gap-8"></section>
{% endblock %}
