{% extends "layout.html.twig" %}

{% block title %}

{% endblock %}

{% block description %}

{% endblock %}

{% block main_title %}

{% endblock %}

{% block main_body %}
    <div class="card bg-base-100">
        <div class="card-body">
            {% for stack in stacks %}
                {{ component("listItem", { item: stack }) }}
            {% else %}
                {{ "common.no_result"|trans }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
