{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.about_us.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.about_us.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.about_us.title"|trans }}
{% endblock %}

{% block main_body %}
    <p>{{ "page.about_us.presentation"|trans }}</p>
{% endblock %}
