{% extends "layout.html.twig" %}

{% block title %}

{% endblock %}

{% block description %}

{% endblock %}

{% block main_title %}

{% endblock %}

{% block main_body %}
<turbo-frame id="table_crud" data-turbo-action="advance">
    <div class="card bg-base-100">
        <span class="m-3">
            {{ knp_pagination_sortable(pagination, 
                'common.created_at'|trans, 
                't.createdAt', 
                {},
                {},
                'knp_custom/paginator_sortable.html.twig') 
            }}
        </span>
        <div class="card-body">
            {% for tech in pagination %}
                {{ component("listItem", { item: tech }) }}
            {% else %}
                {{ "common.no_result"|trans }}
            {% endfor %}
        </div>
    </div>
    <div class="flex items-center justify-center">
        {{ knp_pagination_render(pagination, 'knp_custom/paginator.html.twig') }}
    </div>
</turbo-frame>
{% endblock %}
