{% extends "layout.html.twig" %}

{% block title %}

{% endblock %}

{% block description %}

{% endblock %}

{% block main_title %}

{% endblock %}

{% block main_body %}
    {% for type in types %}
        <a class="link" href="{{ path("app_tech_create", { typeParam: type.value }) }}">{{ ("tech.type.#{type.value}")|trans }}</a>
    {% endfor %}
{% endblock %}
