{% extends "layout.html.twig" %}

{% block title %}
    {{ "Step 1 - Type"|trans }}
{% endblock %}

{% block description %}

{% endblock %}

{% block steps %}
    {{ component("steps", { step: 1, steps: 3 }) }}
{% endblock %}

{% block main_title %}
    {{ "Step 1 - Type"|trans }}
{% endblock %}

{% block main_body %}
    <div class="flex flex-col justify-center gap-4 md:flex-row">
        {% for type in types %}
            {{ component("button", { centered: false, content: ("tech.type.#{type.value}")|trans, href: path("app_tech_create", { typeParam: type.value }) }) }}
        {% endfor %}
    </div>
{% endblock %}
