<div class="card aspect-square h-full w-full bg-base-100 shadow-xl">
    <div class="card-title p-8 pb-0">
        {{ name }}
    </div>
    <div class="card-body relative grid auto-rows-min grid-cols-5 justify-between justify-items-center gap-6">
        {% for tech in techs %}
            <div class="tooltip" data-tip="{{ tech.name }}">
                <a class="block transition-transform duration-200 hover:scale-125" href="{{ path("app_tech_show", { slug: tech.slug }) }}">
                    {{ component("image", { src: vich_uploader_asset(tech.picture, "file"), filter: "tech_picture_side", alt: tech.name, width: 64, height: 64 }) }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
